<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - REAMI Marketing Sales Inventory System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/REAMI_Marketing_Sales___Inventory_System.styles.css" asp-append-version="true" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     
</head>
<body>
   

    <div class="container-fluid main-container d-flex">
        <nav>
            <!-- Inventory and Supply Section -->
                <h5 class="alert alert-warning" >Inventory and Supply</h5>

                <a href="/Supplies">
                    <div class="">
                        <i class="fas fa-truck"></i> <span>
                            Supplies
                        </span>
                    </div>
                </a>

                <a href="/Supply_Detail">
                    <div class="">
                        <i class="fas fa-shipping-fast"></i> <span>
                            Supply Details
                        </span>
                    </div>
                </a>

                <a href="/Companies">
                    <div class="">
                        <i class="fas fa-building"></i> <span>
                            Companies
                        </span>
                    </div>
                </a>

            <!-- Sales Section -->
                <h5 class="alert alert-warning">Sales</h5>

            <a href="/Employees">
                <div class="">
                    <i class="fas fa-user-tie"></i> <span>
                        Employees
                    </span>
                </div>
            </a>
                <a href="/Orders">
                    <div class="">
                        <i class="fas fa-shopping-cart"></i> <span>
                            Orders
                        </span>
                    </div>
                </a>

                <a href="/Products">
                    <div class="">
                        <i class="fas fa-cube"></i> <span>
                            Products
                        </span>
                    </div>
                </a>

            <a href="/Measurements">
                <div class="">
                    <i class="fas fa-ruler"></i> <span>
                        Measurements
                    </span>
                </div>
            </a>
                <a href="/Projects">
                    <div class="">
                        <i class="fas fa-project-diagram"></i> <span>
                            Projects
                        </span>
                    </div>
                </a>

                <a href="/Roles">
                    <div class="">
                        <i class="fas fa-user-tag"></i> <span>
                            Roles
                        </span>
                    </div>
                </a>

                <a href="/Order_Detail">
                    <div class="">
                        <i class="fas fa-file-alt"></i> <span>
                            Order Details
                        </span>
                    </div>
                </a>

                <a href="/Product_Detail">
                    <div class="">
                        <i class="fas fa-file-archive"></i> <span>
                            Product Details
                        </span>
                    </div>
                </a>

                <a href="/Installations">
                    <div class="">
                        <i class="fas fa-tools"></i> <span>
                            Installations
                        </span>
                    </div>
                </a>

                <a href="/Installation_Detail">
                    <div class="">
                        <i class="fas fa-toolbox"></i> <span>
                            Installation Detail
                        </span>
                    </div>
                </a>
        </nav>

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-center ">
        <div class="container">
            &copy; 2024 - REAMI Marketing Sales 
        </div>
    </footer>
    <!-- Loading animation -->
    <div id="loading-animation">
        <!-- Your loading animation markup goes here -->
        <div class="spinner"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)

    <script>
       
        // Delay adding the 'loaded' class to body after at least 0.5 seconds
        $(window).on("load", function () {
            setTimeout(function () {
                $("body").addClass("loaded");
            }, 100); // 0.5 seconds delay (500 milliseconds)
        });


        $(document).ready(function () {
            
            var pathname = window.location.pathname; // Get the current pathname without the domain

            // Remove leading and trailing slashes for robustness
            pathname = pathname.replace(/^\/|\/$/g, "");

            // Find all navigation links within the 'nav' element
            var navLinks = $("nav a");

            navLinks.each(function () {
                var href = $(this).attr("href");

                // Handle cases where href might be empty or a hash
                if (href && href !== "#") {
                    // Remove leading and trailing slashes from href for consistency
                    href = href.replace(/^\/|\/$/g, "");

                    // Check for exact match or partial match depending on your preference
                    // Exact match:
                    if (pathname === href) {
                        $(this).find("div").addClass("active"); // Target the child div and add the class
                    }


                    // Partial match (uncomment if needed):
                     if (pathname.indexOf(href) !== -1) {
                       $(this).find("div").addClass("active");
                     }
                }
            });

           

            $('td a').each(function () {
                var href = $(this).attr('href');
                var actionClass;

                if (href.includes('Edit')) {
                    actionClass = 'btn btn-primary text-white'; // Example: Edit button
                    $(this).html('<i class="fas fa-edit"></i>'); // Font Awesome Edit icon
                } else if (href.includes('Details')) {
                    actionClass = 'btn btn-info text-white'; // Example: Details button
                    $(this).html('<i class="fas fa-info-circle"></i>'); // Font Awesome Info Circle icon
                } else if (href.includes('Delete')) {
                    actionClass = 'btn btn-danger text-white'; // Example: Delete button
                    $(this).html('<i class="fas fa-trash"></i>'); // Font Awesome Trash icon
                }

                // Add the action class
                $(this).addClass(actionClass);
            });



            // Check if h1 contains "Create", "Edit", "Detail", or "Delete" and hide if it's not "Create New"
            $("h1").each(function () {
                var text = $(this).text();
                if (
                    (text.includes("Create") ||
                        text.includes("Edit") ||
                        text.includes("Detail") ||
                        text.includes("Delete")) &&
                    text !== "Create New"
                ) {
                    $(this).hide();
                    // Hide the adjacent <h4> element
                    $(this).next('h4').hide();
                    $(this).next('h4').next('hr').hide();
                    $(this).next('h4').next('hr').next('.row').find('.col-md-4').addClass('mx-auto p-2');
                    $('.form-group input').addClass('mt-1');
                    $('.form-group label').addClass('mt-1 mb-1');

                    $('.form-group:has(input[type="submit"])').addClass('mt-3 mb-2');
                    $('a:contains("Back to List")').addClass('btn btn-secondary');
                    $('a:contains("Back to List")').parent().addClass('col-md-4 mx-auto');

                    $('input:not([type="submit"])').css({
                        width: '100%',
                        padding: '12px',
                        border: 'none',
                        'border-radius': '6px',
                        'background-color': '#f0f0f0'
                    });







                }
            });

            // Check if h1 contains "Index"
            if ($("h1:contains('Index')").length > 0) {
                // Replace underscores with whitespace in pathname
                var updatedPathname = pathname.replace(/_/g, ' ');

                // Change h1 content based on controller name or pathname
                // Replace 'Index' with desired content
                $("h1:contains('Index')").text(updatedPathname);
            }



            // Check if adjacent to h1 containing "Create New"
            if ($("p a:contains('Create New')").length > 0) {
                // Change adjacent <a> content to "Add" + icon
                $("p a:contains('Create New')").addClass("btn float-end").css({
                    "background-color": "#6cc02b",
                    "color": "white"
                });
                $("p a:contains('Create New')").html("Add <i class='fas fa-plus'></i>");
                // Add classes and styles to the <a> element

            }




        });


     

    </script>

</body>
</html>
